<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_head') %>
  <body>
    <div class="signup-container">
      <h2>Sign In</h2>
      <p>Fill in the details to get started</p>
      <form action="/auth/sign-in" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="John" required />

        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="*****"
          required
        />
        <div class="button-group mt-sm">
          <button type="submit" class="btn btn-main">Submit</button>
        </div>
      </form>
      <p class="signin-link">
        Already have an account? <a href="/auth/sign-up">Sign up</a>
      </p>
    </div>
  </body>
</html>
