<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_head') %>
  <body>
    <div class="signup-container">
      <h2 class="page-title">Sign Un</h2>
      <p class="page-description">Fill in the details to get started</p>
      <form class="form-main" action="/auth/sign-up" method="POST">
        <label for="name">Name</label>
        <input
          class="form-input"
          type="text"
          id="name"
          name="name"
          placeholder="John"
          required
        />

        <label for="email">Email</label>
        <input
          class="form-input"
          type="email"
          id="email"
          name="email"
          placeholder="John"
          required
        />

        <label for="password">Password</label>
        <input
          class="form-input"
          type="password"
          id="password"
          name="password"
          placeholder="John"
          required
        />

        <label for="confirmPassword">Confirm Password</label>
        <input
          class="form-input"
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="John"
          required
        />
        <div class="button-group mt-sm">
          <button type="submit" class="btn btn-main">Submit</button>
        </div>
      </form>
      <p class="signin-link">
        Already have an account? <a href="/sign-in">Sign in</a>
      </p>
    </div>
  </body>
</html>
