<aside class="sidebar">
  <h1 class="logo">noodleshop</h1>
  <h4 class="restaurant-name"><%= restaurant.name %></h4>
  <nav>
    <ul>
      <li><a href="/restaurant" class="active">Orders</a></li>
      <li><a href="/stats">Stats</a></li>
      <li><a href="/settings">Settings</a></li>
    </ul>
  </nav>
</aside>
