<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/_head') %>
  <body>
    <div class="container">
      <h1 class="page-title">Oops! Something went wrong</h1>
      <p class="page-description"><%= message %></p>

      <div class="button-group">
        <button onclick="goBack()" class="btn btn-secondary">Go Back</button>
      </div>
    </div>
  </body>
</html>
