<!DOCTYPE html>
<%- include('./partials/_head') %>
<html lang="en">
  <body>
    <div class="container">
      <h1>Welcome to Noodle Hub</h1>
      <p>lorem ipsum dolor sit amet</p>
      <div class="button-group">
        <a href="/auth/sign-up" class="btn btn-main">Sign Up</a>
        <a href="/auth/sign-in" class="btn btn-main">Sign In</a>
      </div>
    </div>
  </body>
</html>
