@import url("./sign-up.css");
@import url("./restaurant.css");
@import url("./utils.css");
@import url("./orders.css");

:root {
  --bg-main: #2d2726;
  --primary: #e8d8d3;
  --orange: #f59e42;
  --yellow: #f6e05e;
  --black: #171616;
  --dark-gray: #3d3d3d;

  --font-primary: "Shantell Sans", cursive;
  --font-secondary: "Fredoka", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-main);
  color: var(--primary);
  font-family: var(--font-secondary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: bold;
  color: var(--orange);
}

p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: var(--primary);
}

.sign-up {
  background-color: var(--primary);
  color: #000;
}

.sign-in {
  background-color: var(--orange);
  color: #000;
}

.new-restaurant-container {
  padding: 30px;
  border-radius: 8px;
  width: 600px;
  text-align: center;
}
