@import url("./sign-up.css");
@import url("./restaurant.css");
@import url("./utils.css");
@import url("./orders.css");
@import url("./settings.css");

:root {
  --bg-main: #2d2726;
  --bg-secondary: rgba(230, 216, 214, 0.1);
  --bg-dark: #221d1c;
  --primary: #e8d8d3;
  --orange: #f59e42;
  --yellow: #f6e05e;
  --black: #171616;
  --dark-gray: #3d3d3d;
  --red: #ff3b30;
  --green: #36c036;
  --white: #fff;

  --font-primary: "Shantell Sans", cursive;
  --font-secondary: "Fredoka", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-main);
  color: var(--primary);
  font-family: var(--font-secondary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

h1,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: bold;
  color: var(--orange);
}

h2,
h3 {
  font-weight: 500;
  font-family: var(--font-secondary);
  color: var(--orange);
}

p {
  font-size: 1rem;
  color: var(--primary);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 6px;
  margin-top: 4px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  background: var(--primary);
  color: var(--black);
  font-family: var(--font-secondary);
  border: 2px solid transparent;
}

input:focus {
  outline: none;
  border: 2px solid var(--orange);
}

.sign-up {
  background-color: var(--primary);
  color: #000;
}

.sign-in {
  background-color: var(--orange);
  color: #000;
}

.new-restaurant-container {
  padding: 30px;
  border-radius: 8px;
  width: 600px;
  text-align: center;
}

.page-title {
  margin-bottom: 12px;
}

.page-description {
  margin-bottom: 42px;
}

.form-main {
  display: flex;
  flex-direction: column;
}

.form-main {
  padding: 24px 0;
  border-bottom: 1px solid #dbdbdb6e;
  width: 100%;
}

.form-input {
  margin-bottom: 16px;
}

.leaderboard-section {
  margin-top: 32px;
  padding: 24px;
  border-radius: 12px;
  background-color: var(--bg-secondary);
  border: 1px solid #dbdbdb6e;
}
.leaderboard {
  display: grid;
  grid-template-columns: 150px 1fr;
  row-gap: 12px;
  column-gap: 16px;
  max-width: 500px;
}

.leaderboard-title {
  margin-bottom: 16px;
}

.stars {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.star {
  width: 20px;
  height: 20px;
  font-size: 18px;
  text-align: center;
}
