.restaurant-container {
  display: grid;
  width: 100%;
  grid-template-columns: 200px 1fr;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.sidebar {
  width: 200px;
  padding: 20px;
  height: 100vh;
  position: fixed;
}

.main-content {
  border-top-left-radius: 16px;
  flex: 1;
  padding: 20px;
  margin-left: 200px;
  width: calc(100vw - 200px);
  margin-top: 80px;
  background-color: var(--bg-dark);
}

.header {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 140px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 200px;
  padding-top: 20px;
  width: calc(100vw - 200px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-main);
  z-index: 100;
}

.logo {
  padding-top: 8px;
  text-align: center;
}

.logo a {
  text-decoration: none;
  color: var(--orange);
}

.menu {
  margin-top: 52px;
}

.menu-group-title {
  color: var(--parimary);
}

.menu-group-list {
  margin: 12px 0;
  color: var(--parimary);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-group-list li {
  margin-left: 28px;
}

.restaurant-name {
  background: #3d3d3d;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.menu-item {
  text-decoration: underline;
  color: var(--parimary);
  font-family: var(--font-primary);
  text-decoration: none;
  display: flex;
  padding: 6px 12px;
  border-radius: 4px;
}

.menu-item:hover {
  background: var(--bg-dark);
}

.active {
  background: var(--bg-secondary);
}

.header-list {
  display: flex;
  gap: 12px;
}

.header-list-item {
  list-style: none;
  border-radius: 4px;
  background: var(--bg-secondary);
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
}

.get-orders {
  background-color: #f59e42;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* restaurant stats */

.restaurant-stats {
  border-radius: 8px;
}

.stats-title {
  text-align: left;
}

.stats-subtitle {
  margin-bottom: 20px;
}

.stats-label {
  font-size: 14px;
  color: var(--parimary);
  margin-bottom: 5px;
}

.stats-value {
  font-size: 28px;
  color: var(--primary);
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 15px;
}

.stats-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  background: var(--bg-secondary);
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* new restaurant form */

.new-restaurant-title {
  margin-bottom: 12px;
}

.new-restaurant-form {
  margin: 32px;
  display: flex;
  text-align: left;
}

.new-restaurant-input {
  margin-bottom: 20px;
}

.recent-orders {
  margin-top: 32px;
}

.recent-orders-title {
  margin-bottom: 12px;
}
