.restaurant-container {
  display: grid;
  width: 100%;
  grid-template-columns: 200px 1fr;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.sidebar {
  width: 200px;
  padding: 20px;
  height: 100vh;
  position: fixed;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 200px;
  width: calc(100vw - 200px);
  margin-top: 80px;
}

.header {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 140px;
  padding-bottom: 20px;
  margin-left: 220px;
  padding-top: 20px;
  width: calc(100vw - 240px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-main);
}

.logo {
  color: var(--orange);
}

.menu {
  margin-top: 60px;
}

.menu-group-title {
  color: var(--parimary);
}

.menu-group-list {
  margin: 12px 0;
  color: var(--parimary);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-group-list li {
  margin-left: 28px;
}

.restaurant-name {
  background: #3d3d3d;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

nav ul {
  list-style: none;
  padding: 0;
}

.menu-item {
  text-decoration: underline;
  color: var(--parimary);
  font-family: var(--font-primary);
  text-decoration: none;
  display: flex;
  padding: 6px 12px;
  border-radius: 4px;
}

.active {
  background: rgba(230, 216, 214, 0.1);
}

.header-list {
  display: flex;
  gap: 12px;
}

.header-list-item {
  list-style: none;
  border-radius: 4px;
  background: rgba(230, 216, 214, 0.1);
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
}

.get-orders {
  background-color: #f59e42;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}
