.restaurant-container {
  display: grid;
  width: 100%;
  grid-template-columns: 200px 1fr;
  position: relative;
}
.sidebar {
  width: 200px;
  padding: 20px;
  height: 100vh;
  position: sticky;
}

.logo {
  font-size: 24px;
  color: var(--orange);
}

.restaurant-name {
  background: #3d3d3d;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #f59e42;
  text-decoration: none;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.get-orders {
  background-color: #f59e42;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.orders-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.order-card {
  background-color: #f6e05e;
  color: black;
  padding: 15px;
  border-radius: 8px;
}

.order-card h3 {
  margin-top: 0;
}

.order-time {
  font-size: 12px;
  color: #555;
}

.accept-btn {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}
