.button-group {
  display: flex;
  gap: 8px;
}

.mt-sm {
  margin-top: 16px;
}

.btn {
  font-family: var(--font-primary);
  display: flex;
  justify-content: center;
  padding: 6px 12px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  flex-grow: 1;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  opacity: 0.9;
}

.btn-main {
  background-color: var(--orange);
  color: var(--contrast-1);
}

.btn-secondary {
  background-color: var(--contrast-1);
  color: var(--contrast-2);
}

.btn-danger {
  background-color: var(--red);
  color: var(--white);
}

input[type="checkbox"] {
  margin-top: 0;
  width: 1em;
  height: 1rem;
  accent-color: var(--orange);
}

label {
  margin-top: 0;
  font-size: 1rem;
}

/* Theme toggle switch */
.theme-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-family: var(--font-secondary);
  font-size: 0.9rem;
  user-select: none;
  margin: 20px;
}

.theme-toggle input {
  display: none;
}

.theme-toggle .slider {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: var(--dark-gray);
  border-radius: 34px;
  transition: background-color 0.3s ease;
}

.theme-toggle .slider::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: var(--white);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* When checked */
.theme-toggle input:checked + .slider {
  background-color: var(--orange);
}

.theme-toggle input:checked + .slider::before {
  transform: translateX(20px);
}
